<!DOCTYPE html>
<html lang="en">
<style>
.alert {
  padding: 20px;
  background-color: #0096FF;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.run_button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.run_button:hover {background-color: #3e8e41}

.run_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }
</style>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dockersploit</title>

    <!-- Custom fonts for this template -->
    <link href="{{url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename = 'css/sb-admin-2.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{{url_for('static', filename = 'vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">
{% if run == "true": %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>The {{cve_number}} container is now running!</strong>
</div>
	{% elif delete == "true" %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>The {{cve_number}} container has been removed!</strong>
</div>
{% endif %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-text mx-3">Dockersploit</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>CVEs</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <i class="fas fa-fw fa-table"></i>
                    <span>About</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/search">
                        <div class="input-group">
                            <input id="searchbar" name="q" type="text" class="form-control bg-light border-0 small" placeholder="Search for CVEs..."
                                aria-label="Search" aria-describedby="basic-addon2">
                                <script>
					const params = new URLSearchParams(window.location.search);
					if (params.has('q')){
					   document.getElementById("searchbar").placeholder = params.get('q');
					}
				</script>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        

                        <div class="topbar-divider d-none d-sm-block"></div>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <p class="mb-4">Click Run on to start a vulnerable container corresponding to the CVE.</p>
                    
                    <!-- Usage Cards -->
                    <div class="row">
                     <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                CPU Usage</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><a id="big_cpu">0</a>%</div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="{{url_for('static',filename='img/cpu.png')}}" width="40" height="40">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                RAM Usage</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><a id="big_ram">0</a>% (<a id="mem_usage">0</a> MB/<a id="ram_limit">0</a> MB)</div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="{{url_for('static',filename='img/ram.png')}}" width="40" height="40">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>CVE ID</th>
                                            <th>Name</th>
                                            <th>Severity</th>
                                            <th>CPU</th>
                                            <th>Memory</th>
                                            <th>Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key in cveDict.keys() %}
                                        <tr>
                                            <td><a href="http://127.0.0.1:5000/details?cve_number={{key}}">{{key}}</a></td>
                                            <td>{{cveDict[key]['name']}}</td>
                                            <td>{{cveDict[key]['severity']}} ({{cveDict[key]['score']}})</td>
                                            <td><a id="single_cpu_{{key}}">0</a>%</td>
                                            <td><a id="single_ram_{{key}}">0</a>% (<a id="single_mem_usage_{{key}}">0</a> MB/<a id="ram_limit_{{key}}">0</a> MB)</td>
                                            {% if key not in running%}
                                            <td>
                                            	<a href="http://127.0.0.1:5000/run?cve_number={{key}}">
                                            		<img src="{{url_for('static',filename='img/play.png')}}" width="25" height="25">
                                            	</a>
                                            </td>
                                            {% else %}
					    <td>
					    	<a href="http://127.0.0.1:5000/delete?cve_number={{key}}">
					   		<img src="{{url_for('static',filename='img/delete.png')}}" width="25" height="25">
					    	</a>
					    <br>
					    {% if "privesc" not in ports[key] %}
					    <a>Ports:<br>
					    {% for k in ports[key].keys() %}
					    {{k}} -> {{ports[key][k]}}<br>
					    {% endfor %}
					    </a>
					    </td>
					    {% endif %}
					    {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Dockersploit</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script href="{{url_for('static', filename = 'js/jquery/jquery.min.js')}}"></script>
    <script href="{{url_for('static', filename = 'js/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script href="{{url_for('static', filename = 'js/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script href="{{url_for('static', filename = 'js/sb-admin-2.min.js')}}"></script>

    <!-- Page level plugins -->
    <script href="{{url_for('static', filename = 'js/datatables/jquery.dataTables.min.js')}}"></script>
    <script href="{{url_for('static', filename = 'js/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script href="{{url_for('static', filename = 'js/demo/datatables-demo.js')}}"></script>
    	{% for i in cveDict.keys() %}
    	{% if i in running %}
    	<script>
		var url = "http://127.0.0.1:5000/usage?c={{i}}";
		var XMLHttp = new XMLHttpRequest();
		XMLHttp.open("GET", url, false);
		XMLHttp.send(null);
		var a = XMLHttp.responseText;
		var res = a.split(",");
		// count total CPU %
		var tmp = parseFloat(document.getElementById("big_cpu").innerHTML);
		var tmp_cpu = Number(tmp + parseFloat(res[0]));
		document.getElementById("big_cpu").innerHTML = tmp_cpu.toFixed(2);
		document.getElementById("single_cpu_{{i}}").innerHTML = Number(parseFloat(res[0])).toFixed(2);
		// count total RAM %
		var tmp = parseFloat(document.getElementById("big_ram").innerHTML);
		var tmp_ram = Number(tmp + parseFloat(res[1]));
		document.getElementById("big_ram").innerHTML = tmp_ram.toFixed(2);
		document.getElementById("single_ram_{{i}}").innerHTML = Number(parseFloat(res[1])).toFixed(2);
		// count total RAM MB
		var tmp = parseFloat(document.getElementById("mem_usage").innerHTML);
		var tmp_mem = Number(tmp + parseFloat(res[2]));
		document.getElementById("mem_usage").innerHTML = tmp_mem.toFixed(2);
		document.getElementById("single_mem_usage_{{i}}").innerHTML = Number(parseFloat(res[2])).toFixed(2);
		var tmp_lim = Number(tmp + parseFloat(res[3]));
		document.getElementById("ram_limit").innerHTML = tmp_lim.toFixed(2);
		document.getElementById("ram_limit_{{i}}").innerHTML = tmp_lim.toFixed(2);
       </script>
	{% endif %}
	{% endfor %}
</body>

</html>
